@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

#top {
    font-family: "Petit Formal Script", cursive;
    text-shadow: 2px 3px 2px palegreen;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 3px 2px gold;
}

#First {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 3px 2px powderblue;
}

#second {
    font-family: "UnifrakturCook", cursive;
    background-color: blueviolet;
    color: black;
}

center {
    background-color: skyblue;
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blueviolet;
    color: black;
}

.First {
    font-family: "UnifrakturCook", cursive;
    background-color: blueviolet;
    color: black;

}

.end {
    font-family: fantasy;
    background-color: blueviolet;
    color: black;
}

option {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: black;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}